* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

#registerBtn {
  width: 70%;
  border: none;
  color: white;
  background-color: rgb(39, 39, 39);
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
}

.registerContainer {
  padding: 10%;
  display: inline-block;
  background-color: #dddddd;
  width: 70%;
  height: 50%;
  margin: 30px;
}

.registerContainer,
form {
  align-items: center;
}

.registerbtn:hover {
  opacity: 1;
}

.registerContainer,
.tableContainer {
  box-shadow: 2px 2px 4px #969191;
  border-radius: 10px;
}

.tableContainer {
  width: 90%;
}

.tableContainer,
form,
.container,
.registerContainer {
  justify-content: center;
}

.tableHead {
  justify-content: space-between;
}

tr,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

table {
  padding: 2%;
  border-radius: 10px;
}

#deleteBtn {
  border-radius: 5px;
  background-color: red;
  width: 100px;
  height: 30px;
  color: white;
}

button {
  color: black;
  box-shadow: 2px 2px 4px #302a2a;
}

.windows {
  justify-content: space-around;
  background-color: black;
  padding: 10px;
}

.windows a {
  text-decoration: none;
  color: white;
}

form {
  width: 100%;
  padding: 10px;
  height: 100%;
  flex-direction: column;
  position: absolute;
}

label,
input,
form,
.container,
.windows {
  display: flex;
}

#addBtn,
input {
  width: 50%;
  height: 40px;
  border-radius: 10px;
  margin-top: 10px;
}

#addBtn {
  background-color: #302a2a;
  color: white;
}

input {
  border-style: solid;
  border-color: #dddddd;
  padding: 10px;
  margin-bottom: 5px;
}